<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=chapoo1819sdb02; 
         User Id=chapoo1819sdb02;
         password=Xq3ND8y_rk5_;
    "/>
  </connectionStrings>
</configuration>